
@{
}
<section id="flights" class="flights-section py-5 py-lg-6">
    <div class="container">
        <div class="row align-items-start g-4 g-xl-5">
            <h1>Flight Finder</h1>
            <h2>Find flights from your favourite airports</h2>
            <script async src="https://tpwgt.com/content?currency=gbp&trs=516234&shmarker=717303&powered_by=true&locale=en&show_header=true&limit=3&primary_color=00AE98&results_background_color=FFFFFF&form_background_color=FFFFFF&campaign_id=111&promo_id=4478" charset="utf-8"></script>
            
        </div>
    </div>
</section>
